# checkpoints folder
.ipynb_checkpoints/ 

query_program_input.py
query_program_input.ipynb
resolver_attempt.py
helllo.ipynb
editor_vivek1.py

editor_interface_old.py

hop.pkl

gui (copy).py
scrap.py
sniptest.py
sniptest1.py
stereographic_projection.py

constellation_borders.csv
CrossCatalog.csv
DsCrossCatalog.csv
IAU-CSN.csv
tycho-1.csv
tycho-2.csv
NGC.csv
messier_objects.csv

data_queries.ipynb
data_queries.py
data_query.ipynb
raDecPlot.py
editor.ipynb
messierObjects.ipynb
sniptest.py
Stereo.ipynb


.idea/
venv/

