# checkpoints folder
.ipynb_checkpoints/ 

query_program_input.py
resolver_attempt.py

constellation_borders.csv
CrossCatalog.csv
DsCrossCatalog.csv
IAU-CSN.csv
tycho-1.csv
tycho-2.csv
NGC.csv
messier_objects.csv

data_queries.ipynb
data_queries.py
data_query.ipynb
raDecPlot.py
editor.ipynb
messierObjects.ipynb
sniptest.py
Stereo.ipynb


.idea/
venv/
query_program_input.py
